<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Registarion</display-name>
    <servlet-name>loginpageservlet</servlet-name>
    <servlet-class>loginpage.servlet.loginpageservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginpageservlet</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <display-name>loginpage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DataValidation</display-name>
    <servlet-name>DataValidation</servlet-name>
    <servlet-class>loginpage.servlet.DataValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataValidation</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
</web-app>
</element>
